[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = vim
	excludesfile = /Users/kai/.gitignore
[user]
	email = rgbkrk@gmail.com
	name = Kyle Kelley
	signingkey = 2ECEEC759CAA5DA4
[commit]
	gpgsign = true
[alias]
	ci = commit --no-verify
	pv = commit -pv --no-verify
[init]
	defaultBranch = main
